body {
	text-align: center;
	color: #ffffff;
	background-image: url("images/mountains.jpg");
	background-size: cover;
}

h1 {
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 30px;
}

#slogan
{
	font-family: garamond;
	font-style: italic;
	font-size: 22px;
}

p {
	font-family: garamond;
	font-size: 18px;
}

